<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form>
				<% if @message.user_id == session[:current_user]["id"] %>
					<div class="form-group">
						<label>To</label>
						<input class="form-control" type="text" placeholder="<%= User.find(@message.receiver).name %>" readonly>
					</div>
					<div class="form-group">
						<label>Content</label>
						<textarea class="form-control" readonly><%= @message.text %></textarea>
					</div>
					<div class="form-group">
						<label>Sent Time</label>
						<input class="form-control" type="text" placeholder="<%= @message.created_at.strftime('%H:%M:%S %d-%m-%Y') %>" readonly>
					</div>
				<%= image_tag @message.image.url unless @message.image.blank? %>
				<% else %>
					<div class="form-group">
						<label>From</label>
						<input class="form-control" type="text" placeholder="<%= @message.user.name %>" readonly>
					</div>
					<div class="form-group">
						<label>Content</label>
						<textarea class="form-control" readonly><%= @message.text %></textarea>
					</div>
					<div class="form-group">
						<label>Read Time</label>
						<input class="form-control" type="text" placeholder="<%= @message.time_read.strftime('%H:%M:%S %d-%m-%Y') %>" readonly>
					</div>
				<%= image_tag @message.image.url unless @message.image.blank? %>
				<% end %>
			</form>
		</div>
	</div>
</div>
